.Rproj.user
.Rhistory
.RData
.Ruserdata
R/asta_kursiniui.txt
R/note.txt
R/fisher.R
R/joinData.Rmd
R/koreliacijos.R
R/build.R
R/overview.Rmd
R/visuals.R
mockdata/TF_cg_study.rds
mockdata/sleepConnections.rds
mockdata/insuffSleep.rds
mockdata/corona_ES.rds
mockdata/covid_network.rds
mockdata/study-study.rds
visuals/covid.html
visuals/covid_files/htmlwidgets-1.5.1/htmlwidgets.js
visuals/covid_files/vis-4.20.1/img/network/acceptDeleteIcon.png
visuals/covid_files/vis-4.20.1/img/network/addNodeIcon.png
*.png
visuals/covid_files/vis-4.20.1/vis.css
visuals/covid_files/vis-4.20.1/vis.min.js
visuals/covid_files/visNetwork-binding-2.0.9/visNetwork.js
*.js
*.css
visuals/covid_50cg.html
visuals/covid_100cg.html
mockdata/covid_50cg.rds
mockdata/covid.csv
visuals/pollution_test.html
visuals/pollution.html
mockdata/connections/pollution_w_all.rds
mockdata/groups.r
mockdata/technical.rds
mockdata/whileMatrix.rds
visuals/pollution_only.html
visuals/pollution_with_others.html
mockdata/connections/all_tech_for_net.rds
mockdata/connections/covid_w_others.rds
mockdata/connections/techicals2.rds
mockdata/connections/technical_hist_df.rds
visuals/all_technicals_network.html
visuals/covid_42_network.html
visuals/covid_network_colors.html
visuals/covid_network_colors_PMID.html
visuals/covid_w_others.htmlvisuals/covid_w_others_histogram.html

visuals/pollution_w_others_cg.html
visuals/pollution_w_same_type.html
visuals/technical_histogram.html
visuals/pollution_w_others_legend.html
visuals/covid_w_others_legend_13.html
visuals/technical_network_colors.html
visuals/technical_network.html
visuals/pollution_w_all_types.html
visuals/covid_w_others_histogram.html
visuals/covid_w_others.html
visuals/pollution_w_all_types.html